<h1>Expense Tracker</h1>

<h3>Graph Representing Monthly Expense chart using D3JS</h3>

<p>Total Yearly Expense</p>

<p>Total Monthly Expenses </p>

<p>Total Weekly Expenses</p>

<p>Total Today</p>

<button>Add New Expense</button>

<h3>Upcoming Bills Schedule</h3>

<p>1. Student Loan 1/4/16</p>
<p>2. Wells Credit Card 1/8/16</p>
<p>3. 24 hour fitness 1/12/16</p>
<p>3. Bank of America 1/16/16</p>
<p>4. Wells Fargo Line of Credit 1/20/16</p>

<button>Add Bill to Schedule</button>